@font-face {
  font-family: "god";
  src: url("/Poppins/Poppins-Medium.ttf");
}
* {
  font-family: "god";
  font-weight: 600px;
}

body {
  background-color: #d9dcdfff;
}

/* Navbar */
.navbar_style {
  color: #f9f9f9;
  transition: all 0.5s ease;
}
.navbar_style:hover {
  color: #2c62aeff;
  text-decoration: underline;
}

/* Body Content */
.header-style {
  margin-top: 5%;
}
.header-style h1 {
  font-size: 50px;
  font-weight: bold;
}
.header-style p {
  font-size: 20px;
  color: #888;
  width: 400px;
  height: 50px;
}
.header-style {
  margin-bottom: 8%;
  overflow: hidden;
}
.form-label-style label {
  font-size: 20px;
}
.form-label-style button {
  font-size: 20px;
  height: 50px;
}
.background-style {
  text-shadow: 2px 2px 10px #888;
}
.background-style .btn:hover {
  transition: all 0.5s linear;
  background-color: #41925c;
  color: #f1f1f1;
}
/* zoom in google maps */
.google-img-style {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.google-img-style img {
  width: 100%;
  display: block;
  transition: transform 1.2s;
}
.google-img-style:hover img {
  transform: scale(1.2);
}
/*  */
.google-text-position {
  position: relative;
  top: 0;
  left: 15%;
  transform: translate(0, -90%);
}

/* Footer */
.background-style {
  background-image: url("/Image/background-col-6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list_style li,
a {
  text-decoration: none;
  list-style-type: none;
}
.hover-list {
  color: #f1f1f1;
  transition: all 0.2s linear;
}
.hover-list:hover {
  color: dodgerblue;
}
.footer-style-type h5 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #888;
}
.round {
  margin-top: 150px;
  background-color: #2b3036ff;
}
