@font-face {
  font-family: "god";
  src: url("/Poppins/Poppins-Medium.ttf");
}
* {
  font-family: "god";
  font-weight: 600px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9dcdfff;
}

/* Navbar */
.navbar_style {
  color: #f9f9f9;
  transition: all 0.5s ease;
}
.navbar_style:hover {
  color: #2c62aeff;
  text-decoration: underline;
}

/* Header */
.content-head {
  margin: 50px 0px;
}
.content-head p {
  margin-top: 50px;
  font-size: 20px;
}
.content-head h1 {
  font-size: 65px;
  line-height: 60px;
  text-shadow: 3px 3px 12px #888;
}
.content-head h5 {
  font-size: 28px;
  line-height: 50px;
  text-shadow: 3px 3px 12px #888;
}
.letter-space {
  letter-spacing: 5px;
}
.left-paragraph {
  margin-top: 50px;
}
.paragraph {
  margin-top: 50px;
  width: 800px;
  height: 200px;
}

/* Title */
.title-top {
  margin-top: 80px;
}
.title-top h1 {
  font-size: 40px;
  text-shadow: 2px 2px 10px #888;
}

.card-img-top {
  height: auto;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.zoom-img {
  overflow: hidden;
}
.zoom-img img {
  transition: transform 1.2s;
}
.zoom-img:hover img {
  transform: scale(1.1);
}

/* List Price */
.list-style_ {
  text-shadow: 3px 3px 12px #888;
}
table th {
  font-weight: bolder;
}
table tr {
  font-size: 20px;
}
.hover-bg tr:nth-child(odd) {
  background-color: #f1f6f9;
}

/* Footer */
.list_style li,
a {
  text-decoration: none;
  list-style-type: none;
}
.hover-list {
  color: #f1f1f1;
  transition: all 0.2s linear;
}
.hover-list:hover {
  color: dodgerblue;
}
.footer-style-type h5 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #888;
}
.round {
  margin-top: 150px;
  background-color: #2b3036ff;
}
