@font-face {
  font-family: "god";
  src: url("/Poppins/Poppins-Medium.ttf");
}
* {
  font-family: "god";
  font-weight: 800px;
}

body {
  background-color: #d9dcdfff;
}

.navbar_style {
  color: #f9f9f9;
  transition: all 0.5s ease;
}
.navbar_style:hover {
  color: #2c62aeff;
  text-decoration: underline;
}

/* Title */
.title-top {
  margin-top: 80px;
}
.title-top h2 {
  font-size: 30px;
  text-shadow: 5px 5px 15px #000;
}
.bottom-style button {
  margin-top: 100px;
  width: 150px;
  height: 50px;
  background-color: #ddd;
  color: #000;
  box-shadow: 0px 5px 10px 0px #888;
}
.bottom-style .btn:hover {
  transition: all 0.2s linear;
  background-color: #41925c;
  color: #f1f1f1;
}

.zoom-img {
  overflow: hidden;
}
.zoom-img img {
  transition: transform 1.2s;
}
.zoom-img:hover img {
  transform: scale(1.2);
}

/* Footer */
.list_style li,
a {
  text-decoration: none;
  list-style-type: none;
}
.hover-list {
  color: #f1f1f1;
  transition: all 0.2s linear;
}
.hover-list:hover {
  color: dodgerblue;
}
.footer-style-type h5 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #888;
}
.round {
  margin-top: 150px;
  background-color: #2b3036ff;
}
