@font-face {
  font-family: "god";
  src: url("/Poppins/Poppins-Medium.ttf");
}
* {
  font-family: "god";
  font-weight: 600px;
}

body {
  background-color: #d9dcdfff;
}

/* Navbar */
.navbar_style {
  color: #f9f9f9;
  transition: all 0.5s ease;
}
.navbar_style:hover {
  color: #2c62aeff;
  text-decoration: underline;
}

/* Sign In */
.margin-0 {
  margin: 0 auto;
}
.margin-0 button {
  background-color: #ddd;
  font-weight: bold;
}
.rememberPasword:hover label {
  cursor: pointer;
}
.Agree:hover label {
  cursor: pointer;
}
.forget-password {
  color: #000;
  transition: all 0.2s linear;
}
.forget-password:hover {
  color: dodgerblue;
  text-decoration: underline;
}
.background-style-sign-in {
  width: 40%;
  height: auto;
  background-color: #f1f1f1;
}
.outside-shadow-sign-in {
  margin: 100px 0px 100px 0px;
  background-color: #f1f1f1;
  text-shadow: 2px 2px 10px #888;
  box-shadow: 10px 10px #41925c;
}
.outside-shadow-sign-in .btn:hover {
  transition: all 0.2s linear;
  background-color: #41925c;
  color: #f1f1f1;
}
.left-col-style {
  margin: 0 auto;
}
.left-col-style h1 {
  margin-top: 250px;
  font-size: 50px;
}
.left-col-style p {
  margin-top: 50px;
  width: 500px;
}
.left-col-style .btn {
  color: #000;
  background-color: #ddd;
  margin-top: 50px;
}
.left-col-style .btn:hover {
  color: #f1f1f1;
  background-color: #ffb84c;
}
.right-col-style {
  width: 600px;
}

/* Footer */
.list_style li,
a {
  text-decoration: none;
  list-style-type: none;
}
.hover-list {
  color: #f1f1f1;
  transition: all 0.2s linear;
}
.hover-list:hover {
  color: dodgerblue;
}
.footer-style-type h5 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #888;
}
.round {
  margin-top: 150px;
  background-color: #2b3036ff;
}
